<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
            		http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd
            		http://www.springframework.org/schema/rabbit
                http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">


	<!-- Rabbit MQ -->
	<rabbit:connection-factory id="amqpconnectionFactory"	host="127.0.0.1" username="guest" password="guest" />
	<rabbit:template id="amqpTemplate" connection-factory="amqpconnectionFactory" />
	
	
	
	<rabbit:listener-container connection-factory="amqpconnectionFactory">
		<rabbit:listener ref="tradeBuyListener" method="execute" queue-names="wp.queue.trade.buy" />
  	<rabbit:listener ref="tradeSellListener" method="execute" queue-names="wp.queue.trade.sell"/>
  </rabbit:listener-container>
	<bean id="tradeBuyListener" class="com.tarena.trade.listener.TradeBuyListener" />
	<bean id="tradeSellListener" class="com.tarena.trade.listener.TradeSellListener"/>

	<!-- 线程池 -->
	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="keepAliveSeconds" value="300" />
		<property name="maxPoolSize" value="50" />
		<property name="queueCapacity" value="25" />
	</bean>

</beans>